@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Abril Fatface', cursive;

}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  transform: translateY(-8%);
}

.ratings-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

span {
  font-size: 48px;
  transition: transform 200ms ease-out;
  -webkit-text-stroke: 2px black;
  color: transparent;
}