@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Abril Fatface', cursive;
}

#root {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h2 {
  font-size: 2.5em;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 300ms ease;
}

button:hover {
  transform: translateY(-8%);
}

button:active {
  transform: scale(1.2);
  z-index: 1;
}

.btn-off {
  background-color: transparent;
  border: none;
  outline: none;
  pointer-events: none;
}

.btn-off:hover {
  transform: none;
}

.ratings-wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

span {
  font-size: 80px;
  -webkit-text-stroke: 2.25px black;
  color: transparent;
}

.total-rating {
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}